Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2020-12, with the labels that each got.

#798 localization to person-card 2.0 and associated strings
  packages/mgt-components/src/components/mgt-person-card/mgt-person-card.ts
  packages/mgt-components/src/components/mgt-person-card/sections/BasePersonCardSection.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-contact/mgt-person-card-contact.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-contact/strings.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-files/mgt-person-card-files.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-files/strings.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-messages/mgt-person-card-messages.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-messages/strings.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-organization/mgt-person-card-organization.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-organization/strings.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-profile/mgt-person-card-profile.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-profile/strings.ts
  packages/mgt-components/src/components/mgt-person-card/strings.ts
  stories/samples/general.stories.js
Labels: Component: person-card

#781 Removed deprecated properties
  packages/mgt-components/src/components/mgt-person-card/mgt-person-card.ts
  packages/mgt-components/src/components/mgt-person-card/sections/BasePersonCardSection.ts
  packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-organization/mgt-person-card-organization.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-element/src/components/baseComponent.ts
  packages/mgt-element/src/components/templatedComponent.ts
  packages/mgt-react/src/generated/react.ts
  samples/examples/mgt-flyout/index.html
  samples/examples/mgt-get/getTeamsMessages.html
  samples/examples/person-extensions.html
  samples/proxy-provider-asp-net-core/Views/Shared/_TeamsMessage.cshtml
  samples/proxy-provider-asp-net-mvc/graph-tutorial/Views/Home/Index.cshtml
  stories/components/person.stories.js
Labels: breaking changes

#823 mgt-people-picker patch
  .storybook/addons/codeEditorAddon/codeAddon.js
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.scss
Labels: 2.0, Component: people-picker

#837 Add --task-border property
  packages/mgt-components/src/components/mgt-tasks-base/mgt-tasks-base.scss
  packages/mgt-components/src/components/mgt-tasks-base/mgt-tasks-base.theme.scss
Labels: 2.0, Component: tasks

#831 teams-channel-picker display property for firefox bug
  packages/mgt-components/src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.scss
Labels: 2.0, Component: teams-channel-picker

#824 Updated all Readmes
  packages/mgt-components/README.md
  packages/mgt-element/README.md
  packages/mgt-react/readme.md
  packages/mgt/README.md
  packages/providers/mgt-msal-provider/README.md
  packages/providers/mgt-proxy-provider/README.md
  packages/providers/mgt-sharepoint-provider/README.md
  packages/providers/mgt-teams-provider/README.md
  readme.md
Labels: 2.0

#820 Fixed TeamsProvider.handleAuth()
  packages/providers/mgt-msal-provider/src/MsalProvider.ts
  packages/providers/mgt-teams-provider/src/TeamsProvider.ts
Labels: 2.0

#833 Moved person-card-extension sample to storybook
  samples/examples/person-card-extensions.html
  stories/samples/templating.stories.js
Labels: 2.0

#841 RTL css for presence
  packages/mgt-components/src/components/mgt-person/mgt-person.scss
Labels: 2.0, Component: person

#836 Fix login / mgt-person custom css
  packages/mgt-components/src/components/mgt-login/mgt-login.scss
  packages/mgt-components/src/components/mgt-login/mgt-login.theme.scss
  packages/mgt-components/src/components/mgt-person/mgt-person.scss
Labels: 2.0, Component: login, Component: person

#839 mgt-react - changed dependency from mgt to mgt-components
  packages/mgt-react/package.json
  packages/mgt-react/scripts/generate.js
  packages/mgt-react/src/generated/react.ts
Labels: 2.0
