Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2020-05, with the labels that each got.

#420 teams-channel-picker default input background color
  src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.scss
Labels: Component: teams-channel-picker

#411 people-picker ui refresh and darkmode
  src/components/mgt-people-picker/mgt-people-picker.scss
  src/components/mgt-people-picker/mgt-people-picker.ts
  stories/components/peoplePicker.stories.js
Labels: //b, Component: people-picker

#422 Fixed issue where presence was not getting cleared
  src/components/mgt-person-card/mgt-person-card.ts
  src/components/mgt-person/mgt-person.ts
Labels: //b

#416 Added template support to Login Component
  src/components/mgt-login/mgt-login.ts
  stories/components/login.stories.js
Labels: //b

#427 people-picker properties placeholder and selection-mode
  src/components/mgt-people-picker/mgt-people-picker.ts
Labels: Component: people-picker

#424 people-picker new states + defaultSelectedUserIds prop
  src/components/mgt-people-picker/mgt-people-picker.scss
  src/components/mgt-people-picker/mgt-people-picker.ts
Labels: Component: people-picker
