Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2020-07, with the labels that each got.

#521 mgt-person-card callUser, emailUser, chatUser button fix
  src/components/mgt-person-card/mgt-person-card.scss
Labels: 1.3.2, Component: person-card

#382 removing WAM provider
  packages/mgt/src/components/providers/mgt-wam-provider.ts
  packages/mgt/src/components/providers/providers.ts
  packages/mgt/src/providers/WamProvider.ts
Labels: 2.0, breaking changes

#552 people-picker default-selected-user-ids removal fix
  packages/mgt/src/components/mgt-people-picker/mgt-people-picker.ts
  stories/components/peoplePicker.stories.js
Labels: Component: people-picker, Needs: Documentation
