Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2021-11, with the labels that each got.

#1386 [teams-channel-picker] updating scopes
  packages/mgt-components/src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.graph.ts
  packages/mgt-components/src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.ts
  packages/mgt-element/src/providers/SimpleProvider.ts
Labels: Component: teams-channel-picker

#1397 [people-picker] user-ids fix for 'me' request
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-components/src/graph/graph.user.ts
Labels: Component: people-picker

#1409 [person]fix for person-details while signed out
  packages/mgt-components/src/components/mgt-person-card/mgt-person-card.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
Labels: Component: person
