Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2021-04, with the labels that each got.

#966 [mgt-react] exporting templateRendered
  packages/mgt-element/src/components/templatedComponent.ts
  packages/mgt-react/src/Mgt.ts
  packages/mgt-react/src/generated/react.ts
  samples/react-app/src/App.tsx
Labels: Area: React

#1006 [mgt-person] avatar-type check for photo fetching
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
Labels: Component: person

#1002 [mgt-people-picker] tab control
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.ts
Labels: Component: people-picker

#998 [Msal] domainHint, prompt
  packages/providers/mgt-msal-provider/src/MsalProvider.ts
  packages/providers/mgt-msal-provider/src/mgt-msal-provider.ts
Labels: Needs: Documentation, Provider: msal

#996 Cache for mgt-file and mgt-file-list
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.ts
  packages/mgt-components/src/components/mgt-file/mgt-file.ts
  packages/mgt-components/src/graph/cacheStores.ts
  packages/mgt-components/src/graph/graph.files.ts
  packages/mgt-element/src/utils/Cache.ts
  packages/mgt-element/src/utils/GraphPageIterator.ts
  packages/mgt-react/src/generated/react.ts
  stories/components/fileList.stories.js
Labels: Needs: Documentation

#997 [mgt-file][mgt-file-list] Localization
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.ts
  packages/mgt-components/src/components/mgt-file-list/strings.ts
  packages/mgt-components/src/components/mgt-file/mgt-file.ts
  packages/mgt-components/src/components/mgt-file/strings.ts
Labels: Component: file, Component: file-list
