Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2021-03, with the labels that each got.

#913 [mgt-person] retrieve additional person properties not available by default
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-components/src/graph/graph.user.ts
  packages/mgt-components/src/graph/graph.userWithPhoto.ts
  stories/components/person.stories.js
Labels: Component: person, Needs: Documentation

#943 Update scopes needed to Channel.ReadBasic.All and Team.ReadBasic.all
  packages/mgt-components/src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.graph.ts
  packages/mgt-components/src/components/mgt-teams-channel-picker/mgt-teams-channel-picker.ts
Labels: community-contribution

#949 msal custom parameter "prompt"
  packages/providers/mgt-msal-provider/src/MsalProvider.ts
  packages/providers/mgt-msal-provider/src/mgt-msal-provider.ts
Labels: Provider: msal

#952 [mgt-person][presence] small avatar presence fix
  packages/mgt-components/src/components/mgt-person/mgt-person.scss
  stories/components/person.stories.js
Labels: Component: person

#919 mgt-file-list (depends on mgt-file)
  packages/mgt-components/src/components/components.ts
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.scss
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.theme.scss
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.ts
  packages/mgt-components/src/components/mgt-file/mgt-file.scss
  packages/mgt-components/src/components/mgt-file/mgt-file.theme.scss
  packages/mgt-components/src/components/mgt-file/mgt-file.ts
  packages/mgt-components/src/graph/graph.files.ts
  packages/mgt-components/src/styles/fluent-icons.ts
  packages/mgt-components/src/styles/shared-sass-variables.scss
  packages/mgt-components/src/styles/shared-styles.scss
  packages/mgt-components/src/styles/theme.scss
  packages/mgt-react/scripts/generate.js
  packages/mgt-react/src/generated/react.ts
  stories/components/file.stories.js
  stories/components/fileList.stories.js
Labels: Area: Components, Needs: Documentation
