Repository microsoftgraph/microsoft-graph-toolkit, pull requests merged in 2024-01, with the labels that each got.

#2930 fix: direct reports list formatting
  packages/mgt-components/src/components/mgt-organization/mgt-organization.scss
  packages/mgt-components/src/components/mgt-organization/mgt-organization.ts
Labels: Build: Storybook

#2928 fix: enter email keypress behavior
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.ts
Labels: Build: Storybook, Build: React Contoso

#2946 fix: remove readonly props from react components
  package.json
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.ts
  packages/mgt-react/package.json
  packages/mgt-react/scripts/generate.js
  packages/mgt-react/src/generated/agenda.ts
  packages/mgt-react/src/generated/file-list.ts
  packages/mgt-react/src/generated/file.ts
  packages/mgt-react/src/generated/get.ts
  packages/mgt-react/src/generated/login.ts
  packages/mgt-react/src/generated/people-picker.ts
  packages/mgt-react/src/generated/people.ts
  packages/mgt-react/src/generated/person-card.ts
  packages/mgt-react/src/generated/person.ts
  packages/mgt-react/src/generated/picker.ts
  packages/mgt-react/src/generated/planner.ts
  packages/mgt-react/src/generated/search-box.ts
  packages/mgt-react/src/generated/search-results.ts
  packages/mgt-react/src/generated/spinner.ts
  packages/mgt-react/src/generated/taxonomy-picker.ts
  packages/mgt-react/src/generated/teams-channel-picker.ts
  packages/mgt-react/src/generated/theme-toggle.ts
  packages/mgt-react/src/generated/todo.ts
Labels: Build: Storybook, Build: React Contoso

#2935 docs: add alerts to refresh buttons
  stories/components/get/get.stories.js
Labels: Build: Storybook

#2916 Implement a refresh for presence
  packages/mgt-chat/src/components/Chat/Chat.tsx
  packages/mgt-components/src/components/mgt-person/mgt-person.tests.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-components/src/exports.ts
  packages/mgt-components/src/graph/graph.presence.mock.ts
  packages/mgt-components/src/graph/graph.presence.ts
  packages/mgt-components/src/graph/graph.userWithPhoto.mock.ts
  packages/mgt-components/src/utils/PresenceService.ts
  packages/mgt-components/src/utils/SvgHelper.ts
  packages/mgt-react/src/generated/person.ts
  stories/components/person/person.properties.stories.js
  web-test-runner.config.mjs
Labels: Needs: Attention :wave:, Build: Storybook, Build: React Contoso

#2870 feat: transform emoji tags into standard HTML
  packages/mgt-chat/src/components/Chat/Chat.tsx
  packages/mgt-chat/src/statefulClient/StatefulGraphChatClient.ts
  packages/mgt-chat/src/utils/rewriteEmojiContent.tests.ts
  packages/mgt-chat/src/utils/rewriteEmojiContent.ts
Labels: Build: React Contoso

#2962 feat!: convert enums to string unions
  index.html
  packages/mgt-components/src/components/PersonCardInteraction.ts
  packages/mgt-components/src/components/components.ts
  packages/mgt-components/src/components/mgt-file-list/mgt-file-list.ts
  packages/mgt-components/src/components/mgt-file-list/mgt-file-upload/mgt-file-upload.ts
  packages/mgt-components/src/components/mgt-file/mgt-file.ts
  packages/mgt-components/src/components/mgt-get/mgt-get.ts
  packages/mgt-components/src/components/mgt-login/mgt-login.ts
  packages/mgt-components/src/components/mgt-organization/mgt-organization.ts
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.ts
  packages/mgt-components/src/components/mgt-people/mgt-people.ts
  packages/mgt-components/src/components/mgt-person-card/mgt-person-card.ts
  packages/mgt-components/src/components/mgt-person/mgt-person-types.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.tests.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-components/src/components/mgt-planner/mgt-planner.ts
  packages/mgt-components/src/components/mgt-search-results/mgt-search-results.ts
  packages/mgt-components/src/graph/graph.files.ts
  packages/mgt-components/src/graph/graph.groups.ts
  packages/mgt-components/src/graph/graph.people.ts
  packages/mgt-components/src/graph/graph.user.ts
  packages/mgt-components/src/graph/types.ts
  packages/mgt-react/src/generated/person.ts
  packages/providers/mgt-electron-provider/src/Authenticator/ElectronAuthenticator.ts
  packages/providers/mgt-msal2-provider/src/Msal2Provider.ts
  packages/providers/mgt-teamsfx-provider/README.md
  samples/react-contoso/src/components/DirectReports.tsx
  samples/react-contoso/src/components/Messages.tsx
  samples/react-contoso/src/pages/HomePage.tsx
  samples/react-contoso/src/pages/Search/FilesResults.tsx
  specs/mgt-people-picker.md
  stories/components/fileList/fileList.properties.stories.js
  stories/components/get/get.stories.js
  stories/components/person/person.properties.stories.js
  stories/components/person/person.stories.js
  stories/components/person/person.templating.stories.js
  stories/components/personCard/personCard.properties.stories.js
  stories/samples/general.stories.js
  stories/samples/templating.stories.js
  tsconfig.web-test-runner.json
  web-test-runner.config.mjs
Labels: Build: Storybook, Build: React Contoso

#2973 docs: add story for picker nested values
  stories/components/picker/picker.html.stories.js
Labels: Build: Storybook

#2963 feat: remove mgt-loader
  index.html
  packages/mgt/README.md
  packages/mgt/package.json
  packages/mgt/rollup.config.js
  packages/mgt/src/bundle/index.es5.ts
  packages/mgt/src/bundle/mgt-loader.js
  readme.md
  stories/overview.stories.mdx
Labels: Build: Storybook, Build: React Contoso

#2900 feat: add optional person-card to people picker
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.theme.scss
  packages/mgt-components/src/components/mgt-people-picker/mgt-people-picker.ts
  packages/mgt-components/src/components/mgt-person/mgt-person.scss
  packages/mgt-components/src/components/mgt-person/mgt-person.ts
  packages/mgt-react/src/generated/people-picker.ts
  stories/components/peoplePicker/peoplePicker.properties.stories.js
Labels: Build: Storybook, Build: React Contoso

#2971 chore: Add permissions for workflows requiring GITHUB_TOKEN
  .github/workflows/pr-clean-deployments.yml
  .github/workflows/pr-reporting.yml
  .github/workflows/pr-storybook.yml
  .github/workflows/pr-test-app.yml
  .github/workflows/pr.yml
  .github/workflows/project-automation.yml
  .github/workflows/push-preview-release.yml
  .github/workflows/push-release.yml
  .github/workflows/storybook.yml
Labels: Needs: Attention :wave:, Build: Storybook, Build: React Contoso

#2978 docs: fixing person string unions for react stories
  stories/components/person/person.react.stories.js
Labels: Build: Storybook

#2986 chore: update pipelines to run on node 20
  .github/workflows/next.yml
  .github/workflows/pr-clean-deployments.yml
  .github/workflows/pr-storybook.yml
  .github/workflows/pr-test-app.yml
  .github/workflows/pr.yml
  .github/workflows/push-preview-release.yml
  .github/workflows/push-release.yml
  .github/workflows/push.yml
  .github/workflows/run-release-please.yml
  .github/workflows/storybook.yml
  .storybook/rollup.config.mjs
  package.json
Labels: Build: Storybook, Build: React Contoso

#2948 feat: fullscreen status messages
  .yarn/cache/@azure-communication-calling-npm-1.16.3-44e73509d2-da044d19ca.zip
  .yarn/cache/@azure-communication-calling-npm-1.20.1-dd9148c1f3-4faf9c6980.zip
  .yarn/cache/@azure-communication-chat-npm-1.3.2-2983034008-753596b815.zip
  .yarn/cache/@azure-communication-chat-npm-1.4.0-8aaae56aaa-4951093d7b.zip
  .yarn/cache/@azure-communication-common-npm-2.2.1-18cc51c452-a3aaadee0c.zip
  .yarn/cache/@azure-communication-identity-npm-1.2.0-c575dbd784-dd09e3caa4.zip
  .yarn/cache/@azure-communication-identity-npm-1.3.0-f259253368-6606609571.zip
  .yarn/cache/@azure-communication-react-npm-1.7.0-beta.2-8fe9a3c2f8-6848408455.zip
  .yarn/cache/@azure-communication-react-npm-1.8.0-beta.1-e44bf7c403-c4a58c5021.zip
  .yarn/cache/@azure-communication-signaling-npm-1.0.0-beta.20-2e863de36e-f023ac73f3.zip
  .yarn/cache/@azure-communication-signaling-npm-1.0.0-beta.22-58ade44acb-162d4bef86.zip
  .yarn/cache/@fluentui-dom-utilities-npm-2.2.14-7e4cf05976-48bfa107f3.zip
  .yarn/cache/@fluentui-font-icons-mdl2-npm-8.5.31-ce4f96b458-b10c39b533.zip
  .yarn/cache/@fluentui-foundation-legacy-npm-8.2.51-6c98a33f4f-a2a59549d0.zip
  .yarn/cache/@fluentui-keyboard-key-npm-0.4.14-196bba0740-2af350c225.zip
  .yarn/cache/@fluentui-merge-styles-npm-8.5.15-ebc8217168-5649657e1b.zip
  .yarn/cache/@fluentui-react-focus-npm-8.8.39-b1c70ae024-9a4e22a29c.zip
  .yarn/cache/@fluentui-react-hooks-npm-8.6.36-ebbb9473a3-ba0886a4af.zip
  .yarn/cache/@fluentui-react-window-provider-npm-2.2.18-413552a7ad-479cf5e4a3.zip
  .yarn/cache/@fluentui-set-version-npm-8.2.14-07405ad50d-7a6223d7fd.zip
  .yarn/cache/@fluentui-style-utilities-npm-8.10.2-8f445f8266-0d015bae24.zip
  .yarn/cache/@fluentui-theme-npm-2.6.41-f0fc682143-2319de26fa.zip
  .yarn/cache/@fluentui-utilities-npm-8.13.24-05de620a68-441b6990d1.zip
  packages/mgt-chat/package.json
  packages/mgt-chat/src/components/Chat/Chat.tsx
  packages/mgt-chat/src/components/ChatHeader/GroupChatHeader.tsx
  packages/mgt-chat/src/components/ChatIcon/ChatIcon.tsx
  packages/mgt-chat/src/components/Error/Error.tsx
  packages/mgt-chat/src/components/Error/GenericErrorIcon.tsx
  packages/mgt-chat/src/components/Error/LoadingMessageErrorIcon.tsx
  packages/mgt-chat/src/components/Error/OpenTeams.tsx
  packages/mgt-chat/src/components/Error/RequireAValidChatId.tsx
  packages/mgt-chat/src/components/Error/TypeANewMessage.tsx
  packages/mgt-chat/src/statefulClient/GraphNotificationClient.ts
  packages/mgt-chat/src/statefulClient/StatefulGraphChatClient.ts
  packages/mgt-chat/src/statefulClient/ThreadEventEmitter.ts
  packages/mgt-chat/src/statefulClient/useGraphChatClient.ts
  packages/mgt-chat/src/utils/graph.ts
  packages/mgt-chat/src/utils/types.ts
  samples/react-chat/src/App.tsx
  samples/react-chat/src/components/ChatListTemplate/ChatListTemplate.tsx
  yarn.lock
Labels: Build: React Contoso

#2970 fix: set consistent spacing between mentioned people names
  packages/mgt-chat/src/components/Chat/Chat.tsx
  packages/mgt-chat/src/utils/mentions.tsx
Labels: Build: React Contoso

#3004 fix: remove the check for an editor before setting the files object.
  .storybook/addons/codeEditorAddon/codeAddon.js
Labels: Build: Storybook
